<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>

     {% load static %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
    <meta name="author" content="webThemez.com">
    <title>Edge interior | About</title>
    <link rel="favicon" href="{% static 'App/images/favicon.png' %}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'App/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'App/css/font-awesome.min.css' %}">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{% static 'App/css/bootstrap-theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'App/css/style.css' %}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="{% static 'App/js/html5shiv.js' %}"></script>
	<script src="{% static 'App/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'App/images/logo.png' %}" alt="Techro HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="/home">Home</a></li>
                    <li class="active"><a href="/About1">About</a></li>
                   	<li><a href="/Services1">Services</a></li>
					<li><a href="/Price1">Price</a></li>
					<li><a href="/Projects1">Projects</a></li>
                    <li><a href="/Contact1">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section class="col-sm-8 maincontent">
                <h3>Our Company</h3>
                <p>
                    <img src="{% static 'App/images/about.jpg' %}" alt="" class="img-rounded pull-right" width="300">
                    Our company has many years experience and specializes in manufacturing, salling, serviceing, gardens and repairing carden shafts (cardens) for various vehicles, technological equipment, tractor, special machinery and agricultural machinery of various domestic and foreign manufacturers.
                </p>
                <p><b>We are Professionals:</b>How all this mistakens idea of denouncing pleasures and praising pain was born and I will give you a completed by account of the system, and expound</p>
                <p><b>We are Expert:</b>Denouncing pleasures and praisings pain was born work will give you a complete seds account of the system, and actual master-builder of human happiness.</p>
                <p><b>We are Trusted:</b>Idea of denouncing pleasure and praisings pain was born and I will give you a complete account of the system and expound the actual great explorer of the truth.</p>

                <h3>Our Achievements</h3>
                <strong>2020</strong>
                <p>If you're working with limited real estate, A Edge Interiors has you covered. Written by minimalists vyshnavi and Rajsandeep, the blog offers up design and renovation ideas for extra-small spaces -- like the authors' tiny home, Airstream trailer, and camper van. The A Edge interiors Instagram is also a great follow, offering bite-size hacks for small living and design.</p>
                <strong>2019</strong>
                <p>If you're looking for more hands-on help, Edge interiors is a good one. Like the other interior design websites on this list, it offers plenty of design inspiration, as well as tons of before and after photos to show real-life transformations. But even better? There's a whole section dedicated to DIY projects (over 3,000 of them) and actionable decorating tips -- all based on the personal experiences of Sherry and John, long-time renovators and hosts of the design podcast "Edge interiors Love Has a Podcast."</p>
                <strong>2018</strong>
                <p>Houzz is designed with home inspiration in mind. You can use it for decor and design ideas, or you can even shop for products, furniture, or contractors. All content is intricately organized -- by room, style, size, and more. There are even comprehensive remodeling and decorating guides you can utilize.</p>
                <strong>2017</strong>
                <p>This one's a great hub for all things design. You'll find architecture and interior designing inspiration as well as ideas for incorporating technology into your property. There's even a category devoted wholly to commercial properties, and it's full of furniture ideas, storage solutions, office design inspiration, and more</p>
            </section>
            <!-- /main -->

            <!-- Sidebar -->
            <aside class="col-sm-4 sidebar sidebar-right">

                <div class="panel">
                    <h4>Why We Are Best</h4>
                    <p>All this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the ut actual teachings of the great explorer of the truth the master-builder of human happiness.</p>
                    <ul class="list-unstyled list-spaces">
                        <li><a href="">4 years of Experiencce</a><br>
                        <li><a href="">Exclusive Partnership</a><br>
                        <li><a href="">Innovative Designers</a><br>
                        <li><a href="">Bussiness Oppurtunities</a><br>
                        <li><a href="">24/7 Online Support</a><br>
                    </ul>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    </section>
    <!-- /container -->
    <section class="team-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Our Team</h3>
                    <p>The Interior speak for themselves</p>
                    <br />
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'App/images/photo-1.jpg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>kowshik</h4>
                        <!-- Designation -->
                        <span class="pos">Team leader</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'App/images/photo-2.jpg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>Vyshnavi</h4>
                        <!-- Designation -->
                        <span class="pos">Developer</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <!-- Team Member -->
                    <div class="team-member pDark">
                        <!-- Image Hover Block -->
                        <div class="member-img">
                            <!-- Image  -->
                            <img class="img-responsive" src="{% static 'App/images/photo-4.jpg' %}" alt="">
                        </div>
                        <!-- Member Details -->
                        <h4>raj sandeep</h4>
                        <!-- Designation -->
                        <span class="pos">Maintainer</span>
                        <div class="team-socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        </div>
        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="simplenav">
								<a href="/home">Home</a> |
								<a href="/About1">About</a> |
								<a href="/Services1">Services</a> |
								<a href="/Price1">Price</a> |
								<a href="/Projects1">Projects</a> |
								<a href="/Contact1">Contact</a>
							</p>
                        </div>
                    </div>

                    <div class="col-md-6 panel">
                        <div class="panel-body">
                            <p class="text-right">
                                Copyright &copy; 2021. <a href="https://EdgeInterior.com/" target="_blank">Edge Interior</a> by Interiordesign.com

                            </p>
                        </div>
                    </div>

                </div>
                <!-- /row of panels -->
            </div>
        </div>
    </footer>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'App/js/custom.js' %}"></script>
</body>
</html>
