<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
	<meta name="author" content="webThemez.com">
	<title>Edge interior | price</title>
	<link rel="favicon" href="{% static 'App/images/favicon.pngv">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'App/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'App/css/font-awesome.min.css' %}">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'App/css/bootstrap-theme.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'App/css/style.css' %}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{% static 'App/js/html5shiv.js' %}"></script>
	<script src="{% static 'App/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'App/images/logo.png' %}" alt="Techro HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li><a href="/home">Home</a></li>
					<li><a href="/About1">About</a></li>
						<li><a href="/Services1">Services</a></li>
					<li class="active"><a href="/Price1">Price</a></li>
					<li><a href="/Projects1">Projects</a></li>
					<li><a href="/Contact1">Contact</a></li>
					<li><a href="/logoutUser">logout</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>Our Price</h1>
				</div>
			</div>
		</div>
	</header>

	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">
				<h3>Cost</h3>
				<p>
					There are many variations of passages,the ut majority have suffered seds alterationin some form, by injected humourr andomised words which don't look evenslightly believable when get finance.
				</p>
				<p>
					For every room in your home, you'll find the very best modern designs, enabling you to create your dream motif - your vision of what style and comfort should look like. From bamboo furniture to a mid century modern sectional, we've curated bold designs ideal for the mod home. We carry exclusive modern brands like ModLoft, Innovation, Unique Furniture and Greenington, just to name a few, to offer you an unparalleled array of hand-selected styles and materials for every room in your home. And we do all of this at the very best prices, every single day.
				</p>
				<p>
					we've cultivated an unrivaled collection of contemporary and modern home lighting for the design conscious. Our concept is simple: offer excellent design at the lowest possible price.
				</p>

			</section>
		</div>
	</div>
	<!-- /container -->



	<footer id="footer">
		<div class="container">
			<div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="/home">Home</a> |
								<a href="/About1">About</a> |
								<a href="/Services1">Services</a> |
								<a href="/Portfolio1">Portfolio</a> |
								<a href="/Contact1">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2021. <a href="https://EdgeInterior.com/" target="_blank">Edge Interior</a> by Interiordesign.com
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'App/js/custom.js' %}"></script>
</body>
</html>
