<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>

	 {% load static %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Interior-Design-Responsive-Website-Templates-Edge">
	<meta name="author" content="webThemez.com">
	<title>Edge interior | About</title>
	<link rel="favicon" href="{% static 'App/images/favicon.png' %}">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'App/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'App/css/font-awesome.min.css' %}">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'App/css/bootstrap-theme.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'App/css/style.css' %}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="{% static 'App/js/html5shiv.js' %}"></script>
	<script src="{% static 'App/js/respond.min.js' %}"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'App/images/logo.png' %}" alt="Techro HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
						<li class="active"><a href="/services">Services</a></li>
					<li><a href="/price">Price</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/login">login</a></li>
                    <li><a href="/register">Regsiter</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h1>Services</h1>
				</div>
			</div>
		</div>
	</header>
	<!--Services Section-->
    <section class="services-section">
    	<div class="auto-container">

        	<div class="row clearfix">

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-1.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-improvement"></span></div>
                        	<h3><a href="">Texture Painting</a></h3>
                            <div class="text">How this mistaken idea pleasure and praising pain was born and will gives you a completed expound rem eum fugiat voluptas.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-2.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-layers"></span></div>
                        	<h3><a href="">Wooden Flooring</a></h3>
                            <div class="text">Explain to you how ut can mistakens ideas off denouncing pleasures and praising gives you  mistaken idea denouncing pleasure.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-3.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-compass"></span></div>
                        	<h3><a href="">Interior Curtains</a></h3>
                            <div class="text">Denouncing pleasure and praisings pains was born and I will give you a completed  mistaken idea of denouncing pleasure account.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-4.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-tiles"></span></div>
                        	<h3><a href="">Tile &amp; Marble Work</a></h3>
                            <div class="text">Plesure and praisings pain was born and I will give you an completed and mistakens idea off denouncing pleasure expound.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-5.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-two"></span></div>
                        	<h3><a href="">Furniture Work</a></h3>
                            <div class="text">We will give you  mistaken idea of ut pleasure and praising pain ut was born and I will gives you a complete great of the truth.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-6.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-bright-lightbulb"></span></div>
                        	<h3><a href="">Lighting Works</a></h3>
                            <div class="text">Expound that actualyl mistakens ideas of and praisings pains was born and I will give you a complete account of human happiness.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-7.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-houses"></span></div>
                        	<h3><a href="">Curtains Road (Steel &amp; Wood)</a></h3>
                            <div class="text">Circumstances occur in which all toil and pain can procure him some great pleasure to take trivial example which of us ever.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-8.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-parquet"></span></div>
                        	<h3><a href="">Walldesigning Works</a></h3>
                            <div class="text">The great explored off the truth, the masters builder off human happiness. No one rejects dislikes, or avoids pleasure itself.</div>
                            <div class="link-box"><a href="service-single.html" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>

                <!--Service Block-->
                <div class="default-services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<figure class="image-box"><img src="{% static 'App/images/service-image-9.jpg' %}" alt=""></figure>
                        <div class="lower-content">
                        	<div class="transparen-icon"><span class="flaticon-copy"></span></div>
                        	<h3><a href="">Artificial Grass Flooring</a></h3>
                            <div class="text">Expound that actualyl mistakens ideas of and praisings pains was born and I will give you a complete account of human happiness.</div>
                            <div class="link-box"><a href="" class="theme-btn read-more">Read More</a></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section><br><br><br><br>





	<footer id="footer">
		<div class="container">
			<div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="/">Home</a> |
								<a href="/about">About</a> |
								<a href="/services">Services</a> |
								<a href="/price">Price</a> |
								<a href="/projects">Projects</a> |
								<a href="/contact">Contact</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2021. <a href="https://EdgeInterior.com/" target="_blank">Edge Interior</a> by Interiordesign.com
							</p>
						</div>
					</div>

				</div>
				<!-- /row of panels -->
			</div>
		</div>
	</footer>




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'App/js/custom.js' %}"></script>
</body>
</html>
